# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.pnpm-store
dist
dist-ssr
.next
*.tsbuildinfo
*.local
.env
.env.*
!.env.example
*.baiduyun.uploading.cfg
CleanShot*.mp4
.archive/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
code_template.zip
